<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Mode" value ="Daily" />
    <add key ="IntervalMinutes" value ="1" />
    <add key ="ScheduledTime" value ="21:42" />
  </appSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Rent-A-Car.csdl|res://*/Rent-A-Car.ssdl|res://*/Rent-A-Car.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=18063_DB;user id=18063_User;password=BG{{2@j2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>